<div class="container">
  <div class='drafts'>
    <div class='editable'>
      <div class="draft">
        {{#editable-draft}}{{editableDraft.text}}{{/editable-draft}}
      </div>
      <div class="notes">
        {{note-pad draft=editableDraft canAddNote=true willAddNote=willAddNote action="addNote"}}
      </div>
    </div>

    <div class='reviewable'>
      {{#each reviewableDrafts}}
        <div class="draft">
          <p class="reviewable-draft">{{text}}</p>
        </div>
        <div class="notes">
          {{note-pad draft=this}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
